@function rem($size) {
    @return $size / 16px * 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #ebf2f5;
}

body,
input,
button,
textarea {
    font: 600 rem(18px) Nunito, sans-serif;
}
