@function rem($size) {
    @return $size / 16px * 1rem;
}

#page-map {
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;

    aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 440px;
        padding: 80px;
        background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);

        h2 {
            font-weight: 800;
            font-size: rem(40px);
            line-height: rem(42px);
            margin-top: 64px;
        }

        p {
            margin-top: rem(24px);
            line-height: rem(28px);
        }

        footer {
            display: flex;
            line-height: rem(24px);
            flex-direction: column;

            strong {
                font-weight: 800;
            }
        }
    }

    .create-rescue {
        position: absolute;
        right: 40px;
        bottom: 40px;
        z-index: 10;

        width: 64px;
        height: 64px;
        background: #15c3d6;
        border-radius: 20px;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: background-color 0.1s;

        &:hover {
            background: #17d6eb;
        }
    }

    .leaflet-container {
        z-index: 5;
    }
}
