@function rem($size) {
    @return $size / 16px * 1rem;
}

#page-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper {
    position: relative;

    width: 100%;
    max-width: 1400px;

    height: 100%;
    max-height: 680px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    background: url('../../images/landing.svg') no-repeat 80% center;

    .location,
    .enter-app {
        position: absolute;
        right: 0;
    }

    .location {
        top: 0;
        font-size: rem(24px);
        line-height: (34px);

        display: flex;
        flex-direction: column;

        text-align: right;

        strong {
            font-weight: 800;
        }
    }

    .enter-app {
        bottom: 0;
        display: flex;
        width: rem(80px);
        height: rem(80px);
        border-radius: 30px;
        background: #ffd666;

        align-items: center;
        justify-content: center;

        transition: background-color 0.1s;

        &:hover {
            background: #96feff;
        }
    }

    main {
        max-width: 350px;

        h1 {
            font-weight: 900;
            font-size: rem(76px);
            line-height: rem(70px);
        }

        p {
            margin-top: 40px;
            font-size: rem(24px);
            line-height: rem(34px);
        }
    }
}
